* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 150px;
}

.carousel {
    width: 95%;
    height: 500px;
    background-color: rgba(221, 242, 253, 0.5);
}
.carousel .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}